@import "bootstrap";
@import "bootstrap-sprockets";

/*Declaring my variables*/

html,body{
	height: 100%;
}


/*CSS for Navbar */
.navbar-custom {
	background-color:#fcfcfc;
    color:#ffffff;
  	border-radius:0;
  	box-shadow: 0px 3px 5px rgba(72,72,72,0.4);
  	font-family: 'Oswald', sans-serif;
  	height: 52px;

}
  
.navbar-custom .navbar-nav > li > a {
  	color:#2182BA;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000000;
	/*background-color: transparent;*/
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
 	/*color: white;*/
 	border-bottom: 4px solid #185E87;
    /*background-color: #185E87;*/
    transition: background-color 0.8s ease-out;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}

#brand{
	color: #666666;
}

/*CSS for the Body*/
#propic{
	border-radius: 50%;
	margin: 30px 0 20px 0;
	height: 195px;
	width: 200px;
}

/*Common CSS for TextBlock */

.textblock{
	height: 100%;
	margin: 40px 0 40px 0;	
	padding: 20px 20px 20px 20px;
	text-align: center;
	h1{
		margin: 15px 0 15px 0;
		font-family: 'Lato', sans-serif;
	}
	h2{
		margin: 10px 0 10px 0;
	}
	p{
		margin: 10px 0 10px 0;
		font-size: 18px;
		font-family: 'Roboto Condensed', sans-serif;
	}
}

/*CSS for individual blocks*/
#section1{
	height: 100vh;
	background: url("section1.jpg");
	background-size: cover;
	background-position: center;
	color: #FEFEFE;
}

#section2{
	background-color: #ccc;
}

#section3{
	height: 50vh;
	background: url("section2.jpg");
	background-size: cover;
	background-position: center;
	color: #FEFEFE;
}