<nav class="navbar navbar-custom navbar-fixed-top">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" id="brand" href="#section1">Aditya Devaguptapu</a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#section2">Purpose + Contact</a></li>
	      <li><a href="#">Resume</a></li>
	      <li><a href="http://www.desolateechoes.tumblr.com" target="_blank">Blog</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
</nav>